.main-content {
	min-height: 500px;
	max-width: 700px;
	margin-top: 70px;
}

.list {
	max-width: 800px;
}

.form {
	max-width: 450px;
}

.row {
	margin-top: 30px;
}

.table th, td {
   text-align: center;   
}

.field-error {
	border: 1px solid #ff0000;
	margin-bottom: 10px;	
}