<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/contact/save}" th:object="${contact}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{id}" />
		    <div class="form-group">
		        <label>Name</label> 
		        <input type="text" class="form-control"
		            th:field="*{name}" th:errorclass="field-error" /> 
		        <em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
		    </div>
		    <div class="form-group">
		        <label>Email</label> 
		        <input type="email" class="form-control" 
		            th:field="*{email}" th:errorclass="field-error" /> 
		        <em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>
		    </div>
		    <div class="form-group">
		        <label>Phone</label> 
		        <input type="text" class="form-control" th:field="*{phone}" />
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>