<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row d-flex justify-content-center">
			<form style="min-width: 300px;" action="#" th:action="@{/contact/save}" th:object="${contact}" method="post"
				  novalidate="novalidate">
				<h5 class="text-center">Contact form</h5>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Contact name"
						   th:field="*{name}" th:errorclass="field-error" />
					<em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
				</div>

				<div class="form-group">
					<input class="form-control" type="email" placeholder="Contact email"
						   th:field="*{email}" th:errorclass="field-error" />
					<em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Contact phone"
						   th:field="*{phone}" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">
						<i class="fa fa-save"></i> Save
					</button>
				</div>
			</form>
		</div>
	</div><!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>